*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    background-color: #090c31;
    display:grid;
    place-items:center;
  }

  .calculator {
  
    background-color: #15173c;
    color:white;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    width:400px;
    height:640px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }

  .display {
    grid-column: 1 /-1;
    background-color: #090c31;    
    padding: 1.5em;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family:monospace;
    font-weight: 600;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);;
  }

.btn {
    background-color: #15173c;
    color:white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 2rem;
  }
.btn:hover{
  background-color: #090c31;
  box-shadow: 0 0 10px #282c76;
}

#zero{
  grid-column:span 2;
}
#igual{
grid-row:span 2;
background-color: #e6394a;
}
#igual:hover{
background-color:#e65766;
box-shadow: 0 0 10px#e6394a;
}

.contenedorboton{
  width: 250px;
  background-color: #d9d9d9;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
